:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(300px,80vw,900px);
        border: 1px solid #00000028;
        border-radius:5px;
        padding: 1em;

        div{
            width: 100%;
            input{
                width: 100%;
            }
            label{
                width: 20%;
            }
        }

        label{
            width: 100%;
        }
    }
}

/* Hide the native checkbox */
input[type="checkbox"] {
    appearance: none;
  position: relative;
}

label>input[type="checkbox"]{
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    border: 1.8px solid #3333333a;
    background-color: white;
    border-radius: 4px;

    &:hover{
       border: 2px solid #33333371;
    }
}

label>input[type="checkbox"]:checked {
  background-color: #08d43b!important;
  border-color: #070d42;
}

// /* Style the custom checkbox box */
// input[type="checkbox"]::before {
//       content: ''; /* Unicode checkmark */
//     display: inline-block;
//   width: 20px;
//   height: 20px;
//   border: 2px solid #333;
//   background-color: white;
//   border-radius: 4px;
//   vertical-align: middle;
//   position: absolute;
// }

// /* Style the checkmark when checked */
// input[type="checkbox"]:checked::before {
//   background-color: #08d43b;
//   border-color: #08d43b;
// }

input[type="checkbox"]:checked::after   {
    display: inline-block;
  content: '\2713'; /* Unicode checkmark */
  position: absolute;
  margin-top: -0.7em;
  margin-left: -0.35em;
  color: white;
  font-size: 1.2em;
  font-weight: 800;

}

// /* Focus style for accessibility */
// input[type="checkbox"]:focus-visible::before  {
//   outline: 2px solid #007bff;
//   outline-offset: 2px;
// }