$custom-green : hsl(153, 53%, 53%);
$button-bg : hsl(153, 72%, 21%);
$button-bg-hover : hsl(153, 100%, 35%);
.btn-add{
    position:fixed;
    bottom: 6.5em;
    right:2.5%;
    z-index: 3;
    color:white;
    background-color: $button-bg;
    &:hover{
         background-color: $button-bg-hover;
    }
    border-radius: 350px;
    width: 1em;
    height: 1em;
    padding: 1.5em;
    border: none;
}

.filter{
    background-color: hsla(153, 53%, 53%, 0.589);

   .is-active{
        border: none;
        background-color:$button-bg;
        color: white;

        &:active{
            background-color: $button-bg-hover;
        }
    }
}

.mean-label{
    height: 2.5em;
    span{
        position: relative;
        height: 100%;
        img{
            height: 70%;
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }
  
}




.todo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 70%;
   border: 1px solid $custom-green;

    border-top-left-radius: .7em;
  border-top-right-radius: .7em;
  padding-bottom: 1em;
  

    @media screen and (max-width:768px) {
        width: 95%;
    }
    >*{
      width:95% 
    }
    >div{
        text-align: center;
          color: white;
         width: 100%;
          padding: .35em;
    }
    >:first-child{
        border-top-left-radius: .25em;
        border-top-right-radius: .25em;
        background-color: $custom-green;
    }

     >:nth-child(2){
        color: $custom-green;
    }
}